* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
}

body {
  background-color: #f1f1f1;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

header {
  display: flex;
  height: 10vh;
  width: 100vw;
  background-color: #1a1a1a;
  align-items: center;
  justify-content: space-between;
}

nav {
  height: 100%;
  width: 100%;
  margin: 0 50px 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 3rem;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

li {
  margin-left: 35px;
}

.nav:hover {
  text-decoration: underline;
  color: #f15a24;
}

.btn-whats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  height: 40px;
  width: 165px;
  background-color: #f15a24;
  border-radius: 10px;
}

.btn-whats img {
  height: 20px;
}

.btn-whats:hover {
  background-color: #ba4318;
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}

.toggle {
  font-size: 2.5rem;
  cursor: pointer;
  color: #f15a24;
  transition: color 0.5s;
  margin: 1rem;
  position: absolute;
  right: 0.5rem;
}

.toggle:hover {
  color: #ba4318;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}

nav .icon-Iconefechar {
  opacity: 0;
  visibility: hidden;
}

.icon-Iconefechar {
  position: absolute;
}

nav.show .menu {
  z-index: 2;
  opacity: 1;
  visibility: visible;

  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;

  place-content: center;
}

nav.show .icon-Iconefechar {
  position: fixed;
  z-index: 3;
  opacity: 1;
  visibility: visible;
}

nav.show .icon-Iconemenu {
  visibility: hidden;
  opacity: 1;
}

@media (min-width: 1000px) {
  nav .menu {
    opacity: 1;
    visibility: visible;
  }

  nav .icon-Iconemenu {
    display: none;
  }
}

@media (max-width: 999px) {
  nav {
    margin: 0 10px 0 10px;
    width: 100vw;
  }

  ul {
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  li {
    margin: 20px;
  }

  .logo-prata {
    max-height: 150px;

    left: 20%;
  }
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner {
  width: 100%;
  height: 235px;
  object-fit: cover;
}

.logo-prata {
  max-height: 110px;
  position: absolute;
  left: 50%;
  margin-top: 65px;
  z-index: 1;
}

@media (max-width: 400px) {
  .logo-prata {
    left: 25%;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  .logo-prata {
    left: 30%;
  }
}

#produtos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section h1 {
  margin: 10px;
  font-family: Poppins, sans-serif;
  font-size: 30px;
  color: #f15a24;
}

.maquinas {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.maquina-1 {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.maquinas img {
  width: 400px;
  margin-bottom: 20px;
  transition: all 0.5s ease;
  border-radius: 7px;
}

.maquinas img:hover {
  transform: scale(1.1);
}

@media (max-width: 1300px) {
  .maquina-1 {
    width: 300px;
    margin: 20px;
  }

  .maquinas img {
    width: 300px;
    margin-bottom: 20px;
  }
}

.container-empresa {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

@media (min-width: 1750px) {
  .container-empresa {
    width: 50vw;
  }
}

.sobre-title {
  font-size: 25px;
}

footer {
  width: 100vw;
  background-color: #c1c1c1;
}

.footer-cont {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footer-div {
  width: 200px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h3 {
  display: flex;
  align-items: center;
  font-family: Poppins, sans-serif;
  color: #f15a24;
}
.footer-div p {
  margin: 20px 0 20px 0;
  font-size: 12px;
}

.footer-div a {
  font-size: 14px;
  width: 135px;
  height: 45px;
}

#logo-preto {
  margin-top: 30px;
  height: 70px;
}

.footer-icon {
  margin-right: 5px;
  height: 20px;
}

.btn-footer {
  padding: 12px;
  background-color: #f15a24;
  border-radius: 10px;
}

.btn-footer:hover {
  background-color: #ba4318;
}

h2 {
  margin-bottom: 10px;
}
